<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <title>EJS</title>

</head>
<style>
    body{
        background-color: black;
    }
    h1{
        color: white;
    }
    label{
        color: beige;
    }
</style>
<body>
        <h1>Hello, we are create brain wallet for you</h1>

    <form method="post" action="/wallet">    
        <div class="form-group">
          <label for="exampleInputPassword1">wallet</label>
          <input type="text" class="form-control" name="brainsrc">
        </div>
    
       
        <button type="submit" class="btn btn-primary" value="go">Submit</button>
      </form>

</body>
</html>